/*General*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    
}

body{
    background-color:#f2f6f5;
    color: #071a2a;
}

h1,h2,h3{
    font-family: Quicksand-Bold, sans-serif;
}

h1{
    font-size:30px;
    margin-bottom:2%;
    text-transform: uppercase;
    
}

h2{
    font-size:20px;
    margin:4.5% 0;
}

h3{
    word-wrap: break-word;
    font-size:18px;
}

p{
    margin:5px 0;
    word-wrap: break-word;
}

figure img{
    width:100%;
}

/*Header*/
header{
    height: 114px;
    padding: 0 15%;
    font-size: 14px;
    border-bottom: 4px solid #071a2a;
}
header figure img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 16%;
    padding-top: 14px;
}

nav{
    float:left;
}

#AyudaIngresar{
    float:right;
}

#AyudaIngresar ul,nav ul{
    width:170px;
}

nav ul li,#AyudaIngresar ul li{
    display:inline-block;
    list-style: none;
    width:80px;
    text-align:center;
    margin:0;
    padding:0;
}

header nav ul li a{
    display:block;
    padding: 48px 1.5%;
    text-decoration:none;
    transition: 0.5s;
    color: #69779b;
}

nav ul li a:hover{
    background-color: #c4c7d7;
    color: #071a2a;
}

header form{
    float: left;
}

header form input{
    width: 170px;
    padding: 8px 8px 8px 40px;
    background-image: url("../img/iconoBuscar.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #071a2a;
    border-radius: 20px;
    margin-left: 6%;
    margin-top: 40px;
    color: #69779b;
}

/*Cuerpo*/

/*Estructura*/
main section {
    width:70%;
    margin: 0 auto;
    padding:50px 0;
    overflow:auto;
}

aside{
    background-color: #c4c7d7;
    float:right;
    padding:10px 2%;
    width:25%;
}

main section section {
    width: 69%;
    padding:0;
    float:left;
    margin-bottom:3.5%;
}

main section section section{
    width:100%;
    margin-bottom:10px;
}

main section section article{
    width:32%;
    float:left;
    margin-bottom:5%;
}

section aside article{
    width:100%;
    margin-bottom:20px;
    float:none;
}

.ElDeEnMedio{ /*Esta clase está para los artículos de en medio de las secciones, dan un espacio en los laterales*/
    margin:0 2% 5% 2%;
}

article input,#Suscribite form input[type=button]{
    padding:7px;
    letter-spacing: 2px;
    background-color:#071a2a;
    color:#f2f6f5;
    text-transform:uppercase;
}


main section section footer{
    background-color: #c4c7d7;
    text-align:right;
    clear: both;
    padding:5px 15px;
    letter-spacing: 1px;
}

main #Noticias{
    background-color:#dde1e7;
    overflow: auto;
    padding:2% 15% 5% 15%;
}
main #Noticias figure{
    float:left;
    width:31.77%;
}

main #Noticias article{
    width:15.885%;
    float:left;
    margin-left:1.5%;
}

main #Noticias #UltimaFoto,main #Noticias #UltimoArticulo{
    float:right;
}
#Ayuda{
    width:20%;
    height:20%;
    float:left;
    margin-left:15%;
}
#Ayuda h2{
    font-size:18px;
    margin-top:6%;
}
#Ayuda h3{
    font-size:16px;
}
#Ayuda ul li{
    margin-top:8%;
}
#Suscribite{
    width:29.41%;
    height:20%;
    float:right;
    margin-right:20%;
}

#Suscribite form input[type=text]{
    padding:5px;
    border:2px solid #071a2a;
    width:80%;
    display:block;
    margin: 5.5% 0 5% 0;
}
footer{
    background-color:#071a2a;
    clear:both;
    overflow:auto;
    padding:20px;
}
footer p{
    color:#dde1e7;
    float:left;
    margin-top:10px;
} 
footer figure{
    float:right;
} 
footer figure img{
    width:40px;
    height:40px;
    margin-left:15px;
}

