*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    color: #071a2a;
}
/* https://colorhunt.co/palette/141287 */
header{
    height: 114px;
    padding: 0 15%;
    font-size: 14px;
    border-bottom: 4px solid #071a2a;
}

header figure img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 16%;
    padding-top: 14px;
}

nav ul li,#AyudaIngresar ul li{
    display:inline-block;
    list-style: none;
    width:80px;
    text-align:center;
    margin:0;
    padding:0;
}
nav{
    float:left;
}

#AyudaIngresar ul,nav ul{
    width:170px;
}

form input{
    width: 170px;
    padding: 8px 8px 8px 40px;
    background-image: url("../img/iconoBuscar.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #071a2a;
    border-radius: 20px;
    margin-left: 6%;
    margin-top: 40px;
}
header form{
    float: left;
}

input, a{
    color: #69779b;
}

#AyudaIngresar{
    float:right;
}

nav ul li a:hover{
    background-color: #c4c7d7;
    color: #071a2a;
    text-decoration: underline;
}

header nav ul li a{
    display:block;
    padding: 48px 1.5%;
    text-decoration:none;
    transition: 0.5s;
}

h1{
    font-size:35px;
}

h2{
    font-size:20px;
    margin:20px 0;
}

body{
    background-color:#f2f6f5;
}

aside{
    background-color: #c4c7d7;
    float:right;
    /*margin-left:2%;*/
    padding:10px 2%;
    width:25%;
}

figure img{
    width:100%;
}

p{
    margin:5px 0;
}

article input{
    padding:5px;
    letter-spacing: 2px;
    background-color:#071a2a;
    color:#f2f6f5;
}

main section {
    width:70%;
    margin: 0 auto;
    padding:50px 0;
    overflow:auto;
}
main section section {
    width: 69%;
    padding:0;
    float:left;
}

main section section section{
    width:100%;
    margin-bottom:10px;
}

main section article{
    width:32%;
    float:left;
}

section aside article{
    width:100%;
    margin-bottom:20px;
    float:none;
}

details p{
    word-wrap: break-word;
}

.ElDeEnMedio{
    margin:0 2% 5% 2%;
    
}
main section section footer{
    background-color: #c4c7d7;
    text-align:right;
    clear: both;
    padding:5px 15px;
    letter-spacing: 1px;
}

main #Noticias{
    width:100%;
    background-color:#dde1e7;
    overflow: auto;
    padding:3% 15%;
    margin:20px;
}
