*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    height: 114px;
    padding: 0 15%;
    font-size: 14px;
    border-bottom: 4px solid black;
}

header figure img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 12%;
    padding-top: 14px;
}

nav ul li{
    float: left;
    list-style: none;
    padding: 48px 1.5%;
    transition: 0.5s;
}

input, a{
    color: grey;
}

a{
    text-decoration: none;
    transition: 0.7s;
}

nav ul li input{
    width: 170px;
    padding: 8px 8px 8px 40px;
    background-image: url("../img/iconoBuscar.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: grey;
    text-align: left; 
    border: 2px solid black;
    border-radius: 20px;
}

nav ul li:hover{
    background-color: lightgrey;
}

nav ul li a:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}



#liBuscador:hover{
    background-color: white;
}
h2{
    margin:20px 0;
    
}
main{
    width:70%;
    margin: 0 auto;
    padding:50px 0;
}
body{
    background-color:#eeeeee;
}
aside{
    background-color: #e5e5e5;
    float:right;
    margin-left:20px;
    padding:0 20px;
}
main section{
    width:55%;
    float:left;
}
section figure img{
    width:243px;
    height:177px;
}
