/* 1 - Estilos generales */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Quicksand, sans-serif;
}

html{
    height: 100%;
}

body { 
    background-color: #f2f6f5;
    color: #071a2a;
    height: 100%;
}

h1 {
    font-family: Quicksand-Bold, sans-serif;
    font-size: 28px;
}

p, label, a {
    font-size: 14px;
}

input[type=submit] {
    background-color: #071a2a;
    color: #f2f6f5;
    padding: 4px 20px;
    border: 2px solid #071a2a;
    transition: 0.3s; 
    letter-spacing: 4px;   
}

input[type=submit]:hover { /* Cuando se para sobre el botón, cambia los colores con una transición */
    background-color: #f2f6f5;
    color: #828588;            
}

input[type=checkbox], input[type=radio], input[type=submit], label {
    cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=date]:focus, input[type=time]:focus, select:focus{
    transition: 0.4s;    
    background-color: #dde1e7;
}


/* 2 - Estilos login.html */
/* Definiciones de tamaño y posicionamiento dentro de la página */
#mainLogin { 
    width: 400px;
    margin: 180px auto;
    padding: 30px 60px;
    border-radius: 5px;
    text-align: center;
    background-color: #c4c7d7;
}

#figureLogin { 
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 40px;
    width: 120px;
    height: 140px;
}

#logoLogin {
    width: 100%;
    height: 100%;
}

#formLogin {
    width: 296px;
    margin: 0 auto;
}

#pLogin {
    margin: 8px 0 4px 0;
}

/* Estilos de los elementos del formulario */
#mainLogin input[type=text], #mainLogin input[type=password]{
    text-align: center;
    border: 2px solid #071a2a;
    border-radius: 20px;
    padding: 4px 80px;
    margin: 4px 0 18px 0;
}

#checkboxLogin, #labelCheckbox{ /* Alinea el checkbox con el resto del formulario */
    float: left;        
}

#btnIngresarLogin {     
    margin-top: 25px;
    padding: 4px 98px;
    clear: both;
}

#checkboxLogin{
    margin-top: 3px;
}



/* 3 - Estilos en comun de listado.html y crear.html */
header{
    padding: 2% 2% 0 2%;
    border-bottom: 8px solid #071a2a;
    overflow: auto;
}

header figure{
    width: 100px;
    height: 116px;
    float: left;
}

header figure img{
    width: 100%;
    height: 100%;
}

header input, header p{
    float: right;    
}

header p{
    margin-top: 34px;
    margin-right: 10px;
}

header input[type=submit]{
    margin-top: 30px;
}

nav {
    float: left;
    width: 15%;
    background-color: #dde1e7;
    padding-top: 6px;
    height: 100%;
}

nav ul li a {
    padding: 15px 0 15px 25px;
    background-color: #e8ecee;
    display: block;
    text-decoration: none;   
    color: black;
    margin-bottom: 6px;
    transition: 0.4s; 
}

nav ul li a:hover, nav ul li .active{
    background-color: #c4c7d7;
}

.mainGeneralBackend {
    width: 78.5%;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
}

.mainGeneralBackend h1{
    margin: 12px 0;
}



/*4 - Estilos de listado.html*/
.mainGeneralBackend section form input[type=submit]{
    float: left;
}

.mainGeneralBackend section #filtrador input[type=text]{
    width: 120px;
    padding: 8px 16px 8px 80px;
    margin-top: 10px;
    background-image: url("../img/iconoBuscar.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #071a2a;
    border-radius: 20px; 
    float: right;   
}

.mainGeneralBackend section{
    overflow: auto;
}

table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

table th{
    font-size: 18px;
    background-color:#f2f6f5;
}

table tr{
    height: 50px;
    background-color:#e8ecee;
}

table tr:nth-child(odd){
    background-color:#dde1e7;
}

table td{
    text-align: center;
    font-size: 14px;
}

table ul li{
    list-style: none;
    display: inline-block;
}

table img{
    cursor: pointer;
}

.funcionEditar, .funcionDuplicar, .funcionEliminar{
    background-image: url("../img/sprite.png");
    background-size: 215px 182px;
}

.funcionEditar{
    background-position: -42px 0px;
}

.funcionDuplicar{
    background-position: 0px 0px;
    margin: 0 40px;
}

.funcionEliminar{
    background-position: -85px 0px;
}

#paginasTabla{
    margin-top: 20px;
    letter-spacing: 4px;
    float: right;
}

#paginasTabla span{
    background-color: #071a2a;
    color: #f2f6f5;
    padding: 4px 1px 1px 12px;    
}

#flechaDerecha{
    margin-left: 4px;
    margin-top: 18px;
    height: 20px;
    width: 20px;
    float: right;
}

#flechaDerecha img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}



/* 5 - Estilos de crearEvento.html */
#formularioEventos, #logoGrande{
    display: inline-block;
}

#logoGrande{
    width: 22.80%;
    margin-left: 18.75%;
}

#logoGrande img{
    width: 100%;
    height: 100%;
}

#pReferencia{
    margin-bottom: 20px;
}

.mainGeneralBackend #formularioEventos{
    overflow: auto;
}

.mainGeneralBackend #izquierdaForm{
    width: 380px;
    margin-right: 20px;
    float: left;
}

.mainGeneralBackend #derechaForm{
    width: 150px;
    float: left;
}

.mainGeneralBackend form input, select, .labelDisplayBlock{
    display: block;
}

.mainGeneralBackend form .inputDisplayInline{
    display: inline-block;
}

.mainGeneralBackend form fieldset input, select{
    margin-bottom: 20px;
}

select{
    width: 339px; /* El ancho del select está aparte, porque, al incluirle la clase anchoCompleto, quedaba más chico que los demás campos */
}

.anchoCompleto{
    width: 85%;
}

.campo{
    padding: 6px;
    border: 2px solid #071a2a;
}

#lbDia{
    margin-right: 138px;
}

#dtDia, #tmHora{
    width: 140px;    
}

#dtDia{
    margin-right: 23px;
}

#rbtNo{
    margin-left: 10px;
}